# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
logs/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Sistema
.DS_Store
Thumbs.db

# Arquivos sensíveis
.env
application-local.properties
application-local.yml
